/* styles.css */

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.fighters-container {
  display: flex;
}

.fighter-card {
  flex: 0 0 auto;
  width: 100%; /* Chaque carte occupe toute la largeur du conteneur */
  background-color: crimson;
  display: flex; /* Utiliser flexbox pour centrer les éléments */
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
}

.left-section,
.right-section {
  width: 50%;
}

.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: initial;
}

.right-section {
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Pour éviter le débordement vertical */
  padding: 10px; 
  width: initial;
  margin-left: 110px;
}

.fighter-image {
  
  max-width: 300px;
  height: auto;
}

.flag-image {
  width: 120px;
  height: auto;
}

.video-frame {
  width: 25%;
  height: 200px; /* Ajuster la taille de la vidéo selon vos besoins */
}

p.text-black {
  width: 30%;
}



.arrow {
  background: none;
  border: none;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}
