/* styles.css */

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.fighters-container {
  display: flex;
  width: 100%;

}

.fighter-card {
  flex: 0 0 100%;
  background-color: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-direction: row; /* Ajouté pour organiser les sections en ligne */
}

.left-section,
.right-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.left-section {
  justify-content: center;
  text-align: center;
}

.right-section {
  overflow-y: auto; 
}

.fighter-image {
  max-width: 300px;
  height: auto;
}

.flag-image {
  width: 120px;
  height: auto;
}

.video-frame {
  width: 500px;
  height: 200px;
}

.text-black {
  width: 80%;
}

.arrow {
  background: none;
  border: none;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

/* Media Queries pour la réactivité */

@media (max-width: 1200px) {
  .video-frame {
    width: 400px;
    height: 200px;
  }
}

@media (max-width: 992px) {
  .video-frame {
    width: 350px;
    height: 200px;
  }
}

@media (max-width: 768px) {
  .fighter-card {
    flex-direction: column;
    padding: 20px;
  }

  .left-section,
  .right-section {
    width: 100%;
  }

  .fighter-image {
    max-width: 250px;
  }

  .video-frame {
    width: 300px;
    height: 200px;
  }

  .arrow {
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  .fighter-card {
    padding: 10px;
  }

  .fighter-image {
    max-width: 200px;
  }

  .video-frame {
    width: 250px;
    height: 150px;
  }

  .flag-image {
    width: 80px;
  }

  .arrow {
    font-size: 1.2rem;
  }
}
