.ade-section {
  position: relative;
  width: 100%;
  height: 100vh; /* Utilise toute la hauteur de l'écran */
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-image img {
  width: 100%;
  height: 100%;
  object-fit: inherit; /* Assurez-vous que l'image couvre toute la section */
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.btn {
  margin: 10px;
  padding: 15px 30px;
  font-size: 1.2rem;
  color: #fff;
  background-color: rgba(128, 128, 128, 0.5); /* Gris semi-transparent */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(128, 128, 128, 0.8); /* Gris semi-transparent au survol */
}

@media (max-width: 1000px){
  .ade-section{
    height: 67vh;
  }

  button.btn.btn-primary {
    width: 200px;
  }

}